::selection{
    background-color: none;
    color: none;
}

body{
    background-color: #EDF4FC;
    font-family:Arial;
}

.login-button {
	background-color:#ecc05b;
	border-radius:20px;
	border:1px solid #ecc05b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:18px 60px;
    text-decoration:none;
}
.login-button:hover {
	background-color:#f7ca76;
}
.login-button:active {
	position:relative;
	top:1px;
}

.login-input {
    padding: 15px;
    font-size: 20px;
    border-width: 0px;
    border-color: #EDF4FC;
    background-color: #EDF4FC;
    color: #0D2C54;
    border-style: hidden;
    border-radius: 20px;
    margin: 15px;
}

.title{
    color: #EDF4FC;
    text-decoration: none;
    font-size: 48px;
    text-align: center;
}

.title-desc{
    color: #EDF4FC;
    font-size: 18px;
}

.card{
    background-color: #0D2C54;
    border-radius: 25px;
    text-align: center;
    padding: 80px;
    top: 25%;
    left: 38%;

    position: absolute;
}

.login-container{
    height: 100%;
    width: 100%;
    position: relative;
}

.topnav{
    width: 100%;
    height: 8%;
    background-color: #f7ca76;
    color: #0D2C54; 
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 6;
    left: 0;
    
}

.icon{
    float: right;
    font-size: 58px;
    padding: 10px 25px;
}

.nav-title{
    float: left;
    font-size: 42px;
    padding: 15px 35px;
}

.sidenav{
    width: 15%;
    background-color: #0D2C54;
    color:  #0D2C54;
    height: 95%;
    overflow: hidden;
    position: fixed;

    bottom: 0;
    z-index: 5;
    left: 0;
    text-align: left;
}

.link-container{
    margin: 50px 0;
}

.side-link {
	background-color:#edf4fc;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#0d2c54;
	font-size:18px;
	padding:17px 48px;
	text-decoration:none;
    
    margin: 20px 50px 0 10px;
}
.side-link:hover {
	background-color:#f7ca76;
}
.side-link:active {
	position:relative;
	top:1px;
}

.main-content{
    position: relative;
    width: 85%;
    left: 10%;
    top: 10%;
}

.header{
    font-size: 48px;
    padding: 0 0 15px 0;
}

.table-container{
    margin: 5% 10%;
}

.table{
    background-color: red;
    font-size: 24px;
    text-align: center;
}

.table-head{
    
}

.border-0{
    padding: 15px;
}